@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 18px;
}

body{
    background-image: url(images/bg-pattern-top.svg), url(images/bg-pattern-bottom.svg);
    background-position: right 45vw bottom 38vh, left 30vw top 60vh;
    background-repeat: no-repeat;
    background-size: cover, cover;
    background-color: hsl(185, 75%, 39%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Kumbh Sans', sans-serif;
} 

.card{
    background-color: hsl(0, 0%, 100%);
    border-radius: 1rem;
    width: 20rem;
    text-align: center;
    overflow: hidden;
}

.image{
    background: url(images/bg-pattern-card.svg) no-repeat;
    background-size: contain;
    border-radius: 1rem;
    width: 100%;
    height: 20rem;
}

.image-victor{
    margin: -15rem 0 0 7.1rem;
    border: 4px solid hsl(0, 0%, 100%);
    border-radius: 50%;
    display: block;
    width: 100px;
    height: 100px;
    overflow: hidden;
}

.about{
    margin: 1.4rem 0 ;
    font-weight: 700; 
}

.about h1{
    color:  hsl(229, 23%, 23%);
    margin-bottom: 0.6rem;
    font-size: 1.1rem;
}

.about span{
    color: hsl(227, 10%, 46%);
    font-weight: 200;
    font-size: 1rem;
}

.about p{
    color: hsl(227, 10%, 46%);
    font-weight: 200;
    font-size: 0.8rem;
}

.details{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    padding: 1.7rem;
    border-top: 1px solid hsl(0, 10%, 88%);
    margin-top: 1.2rem;
    line-height: 1.7rem;
}

.details .likes{
    margin: 0 2rem;
}

.followers h2, .likes h2, .photos h2{
    font-weight: 900;
    color: hsl(229, 23%, 23%);
    font-size: 1rem;
    margin-top: -0.6rem;
}


.followers span, .likes span, .photos span{
    font-size: 0.6rem;
    letter-spacing: 0.1rem;
    font-weight: 100;
    color: hsl(227, 10%, 46%);
    line-height: -1.5rem;
}

/* 
footer{
    text-align: center;
    font-size: 0.8rem;
    font-weight: 600;
    color: hsl(0, 0%, 100%);
    margin-top: 1rem;
}

footer a{
    text-decoration: none;
    color: hsl(229, 23%, 23%);

} */

/* @media screen and (min-width: 93.75em) {
    body {
      background-position: right 66vw bottom 53vh, left 71vw top 65vh;
    }
  } */